@page "/"
@using BattleShips.Models;
@using BattleShips.Components;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private Field fieldA = new Field { Rows = 10, Columns = 10, Name="FieldA" };
    private Field fieldB = new Field { Rows = 10, Columns = 10, Name="FieldB" };
}

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>MAX/CUR</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var room in GetAllRoom())
        {
            <tr>
                <td>@room.DateCreated.ToShortDateString()</td>
                <td>@room.RoomName</td>
                <td>
                    @if (room.MaxPlayerCount > room.CurrentPlayerCount)
                    {
                        <span style="color: green">
                            @room.CurrentPlayerCount.ToString() / @room.MaxPlayerCount.ToString() 
                        </span>
                    }
                    else
                    {
                        <span style="color: red">
                            @room.CurrentPlayerCount.ToString() / @room.MaxPlayerCount.ToString() 
                        </span>
                    }

                </td>
                <td>
                    @if (room.MaxPlayerCount > room.CurrentPlayerCount)
                    {
                        <button type="button" class="btn btn-primary">Join Room</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<div style="display: flex; justify-content:space-around">
    <div>
        <FieldComponent FieldModel="@fieldA" />
    </div>
    <div>
        <FieldComponent FieldModel="@fieldB" />
    </div>

</div>
